#maincontainer {
    height: 800px;

}

#sudokuGridContainer {
    /*background-color: white;*/
    width: fit-content;
}

td {
    height: 4.5em;
    width: 4.5em;
    text-align: center;
    border: 1px solid grey;

}

table {
    border-collapse: collapse;
    background-color: white;

}

.rightborder {
    border-right-width: 5px;
    border-right-color: black;
}

.bottomborder {
	border-bottom-width: 5px;
    border-bottom-color: black;
}

#numbers {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.numButton {
    background-color: white;
    width: 2em;
    height: 2em;
    margin: 10px;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
}