#maincontainer {
    height: 800px;
}

#sudokuGridContainer {
    width: fit-content;
}

td {
    height: 4em;
    width: 4em;
    text-align: center;
    border: 1px solid grey;

}

table {
    border-collapse: collapse;
    background-color: white;
}

.rightborder {
    border-right-width: 5px;
    border-right-color: black;
}

.bottomborder {
	border-bottom-width: 5px;
    border-bottom-color: black;
}

#numbers {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:auto;
}

.numButton {
    background-color: white;
    margin: 2px;
    width: 2em;
    height: 2em;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
}

