{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sudoku</title>
    <link rel="stylesheet" href="{% static 'stylesheets/gameplay-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<script>
const puzzle = {{ puzzle }}
const solution = {{ solution }}
</script>

<header>
	<h1 id='animateHeading' class="ml6">
		<span class="text-wrapper">
			<span class="letters">sudoku</span>
		</span>
	</h1>
	<p id='gamemodeLabel'>gamemode: {{ gamemode }}</p>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'scripts/title_animation.js' %}"></script>
</header>

<main>
	<div id='outermost' class='container'>

		<div id='gridContainer'>
			<div id='sudokuGrid'></div>
		</div>
		
		<div id='outerButtonsContainer'>
			<div id='buttonRow1'>
				<button id='timerButton'>
					<img id='pauseIcon' src="https://iili.io/RbJUAb.png" alt="RbJUAb.png" border="0">
					<span id='timerText'>00:00</span>
				</button>
			</div>
			
			<div id='buttonRow2'>
				<div id='numButtonsContainer'>
					<button id='num1' class='numButton'>1</button>
					<button id='num2' class='numButton'>2</button>
					<button id='num2' class='numButton'>3</button>
					<button id='num4' class='numButton'>4</button>
					<button id='num5' class='numButton'>5</button>
					<button id='num6' class='numButton'>6</button>
					<button id='num7' class='numButton'>7</button>
					<button id='num8' class='numButton'>8</button>
					<button id='num9' class='numButton'>9</button>
				</div>
				<div id='otherButtons'>
					<button id='clearButton'>clear</button>
					<button id='noteButton'>note</button>
					<button id='hintButton'>hint</button>
				</div>
			</div>

			<div id='buttonRow3'>
				<div id='otherButtons2'>
					<button id='clearGridButton'>clear grid</button>
					<button id='gameSettingsButton'>game settings</button>
					<button id='tutorialButton'>tutorial</button>
					<button id='autoCheckButton'>auto-check: ON</button>
				</div>
			</div>
		</div>

	</div>

	</div>
    <script src="{% static 'scripts/gameplay-script.js' %}"></script>
</main>