{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sudoku</title>
    <link rel="stylesheet" href="{% static 'stylesheets/index-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
 
    <header>
        <h1 id='animateHeading' class="ml6">
            <a href='/'>
            <span class="text-wrapper">
                <span class="letters">sudoku</span>
            </span>
        </a>
        </h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <script src="{% static 'scripts/title_animation.js' %}"></script>
    </header>


    <main>

        <div id='loginbox' class="outerbox">
                {% if user.is_authenticated %}
                    <p>You are logged in as {{ user.get_username }}</p>
                    <a href="{% url 'logout' %}"><button id='signout'>LOG OUT</button></a>
                {% else %}
                    <div id='signInUp'>
                        <a href="{% url 'login' %}"><button id='signin'>LOG IN</button></a>
                        <a href="{% url 'signup' %}"><button id='signup'>SIGN UP</button></a>
                    </div>
                {% endif %}    
        </div>     

        <div class='outerbox' id='playbox'>
            <h2 id='playcaption'>PLAY</h2>
            <div id='difficultyButtons'>
                <a href='/gameplay/?gamemode=easy'><button id='easyButton'>easy</button></a>
                <a href='/gameplay/?gamemode=medium'><button id='mediumButton'>medium</button></a>
                <a href='/gameplay/?gamemode=hard'><button id='hardButton'>hard</button></a>
            </div>
        </div> 

        <div id='settings-stats'>
            <button id='gamesettingsbox'>
                <p>GAME SETTINGS</p>
            </button>
            <button id='playerstatsbox'>
                <p>PLAYER STATS</p>
            </button>
        </div>

    </main>
    
    <footer>
        <p id='credit'>By Rumaisa Azeem</p>
    </footer>


</body>

</html>

